.link-detail {
  text-decoration: none;
}
.character-container {
  width: 200px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 20px 20px 20px 20px;
  border-radius: 15px;
  text-align: center;
  cursor: url("../../images/pointer.png"), auto;
  filter: drop-shadow(0 0 4px rgb(94, 255, 0));
  transition: filter 1s;
  filter: drop-shadow();
  &:hover {
    filter: drop-shadow(0 0 18px rgb(135, 252, 57));
  }
}
.character-img {
  margin-top: 10px;
  width: 180px;
  border-radius: 95px;
  border: solid 2px rgb(135, 252, 57);
}
.character-name {
  font-family: "Goldman", cursive;
  font-size: 20px;
  color: rgb(50, 51, 49);
}
.character-species {
  margin-top: -10px;
  font-family: "Goldman", cursive;
  font-size: 17px;
  color: rgb(64, 247, 40);
}
