.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  margin-top: 12px;
  width: 250px;
  filter: drop-shadow(0 0 7px rgb(89, 216, 233));
  @media all and (min-width: 1200px) {
    width: 450px;
    filter: drop-shadow(0 0 15px rgb(89, 216, 233));
  }
}

.header-portal {
  width: 110px;
  filter: drop-shadow(0 0 10px rgb(118, 233, 89));
  @media all and (min-width: 1200px) {
    width: 180px;
  }
}
.rick-morty {
  width: 80px;
  transform: translateY(-120px);
  margin-left: -20px;
  filter: drop-shadow(0 0 8px rgb(222, 241, 186));
  @media all and (min-width: 1200px) {
    width: 110px;
    transform: translateY(-165px);
  }
}
