.character-notexist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notexist-image {
  width: 500px;
  @media all and (min-width: 768px) {
    width: 800px;
  }
}
